# Programming for Data Science - CA2 - AY 23/24
<table align="center">
    <thead>
    <tr><td>Category</td><td>Value</td></tr>
    </thead>
    <tbody>
        <tr><td>Name</td><td>M.Rajkaran</td></tr>
        <tr><td>Admin</td><td>2109039</td></tr>
        <tr><td>Class</td><td>DIT/FT/2A/02</td></tr>
        <tr><td>Elective Class</td><td>EL/EP0302/FT/03</td></tr>
    </tbody>
</table>

## Questions

<ul>
    <li>What are the happiest and least happiest countries in the world?</li>
    <li>How does the average IQ level of a country relate to its happiness?</li>
    <li>What are the differences in employment outcomes between graduates from different universities</li>
    <li>What are the top 5 industries that employ graduates from these universities?</li>
    <li>What are the trends of the birthrate in Singapore.</li>
    <li>How has the Consumer Price Index (CPI) impacted the birth rate in Singapore?</li>
</ul>

## Datasets Used


<table>
    <thead><tr><td><strong>Dataset Name</strong></td><td><strong>Description</strong></td><td><strong>Link</strong></tr></td></thead>
    <tbody>
        <tr><td>Graduate Employment Survey - NTU, NUS, SIT, SMU, SUSS & SUTD</td><td>The starting salary and employment rate across different universities and degrees in Singapore.</td><td><a src="https://data.gov.sg/dataset/graduate-employment-survey-ntu-nus-sit-smu-suss-sutd">data.gov.sg</a></td></tr>
        <tr><td>Consumer Price Index (CPI), 2019 As Base Year</td><td>The CPI across different years in Singapore.</td><td><a src="https://tablebuilder.singstat.gov.sg/table/TS/M212931">singstat.gov.sg</a></td></tr>
        <tr><td>Live-Births By Sex And Ethnic Group</td><td>Births by Sex and Ethnic groups across different months in Singapore.</td><td><a src="https://tablebuilder.singstat.gov.sg/table/TS/M810051">singstat.gov.sg</a></td></tr>
        <tr><td>World Happiness Report</td><td>Happiness levels of countries around the world.</td><td><a src="https://www.kaggle.com/datasets/unsdsn/world-happiness">kaggle.com</a></td></tr>
        <tr><td>Countries by IQ - Average IQ by Country 2023</td><td>The average IQ across different countries in 2023.</td><td><a src="https://worldpopulationreview.com/country-rankings/average-iq-by-country">worldpopulationreview.com</a></td></tr>
    </tbody>
</table>

## Importing necessary packages

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Reading Data

In [4]:
graduate_employment_survey = pd.read_csv("./Datasets/Graduate Employment Survey/graduate-employment-survey-ntu-nus-sit-smu-suss-sutd.csv", encoding='latin1')
# consumer_price_index = pd.read_csv("./Datasets/Consumer Price Index/consumer-price-index.csv")
# live_births = pd.read_csv("./Datasets/Live-Births By Sex And Ethnic Group/Live-Births-By-Sex-And-Ethnic-Group.csv")
# average_iq = pd.read_csv("./Datasets/Average IQ by Country 2023/average-iq-by-country-2023.csv")

## happiness data
world_happiness_2020 = pd.read_csv("./Datasets/World Happiness Report/2020.csv")
world_happiness_2021 = pd.read_csv("./Datasets/World Happiness Report/2021.csv")
world_happiness_2022 = pd.read_csv("./Datasets/World Happiness Report/2022.csv")

In [9]:
# # Select the two rows based on the degree column
# rows_to_merge = graduate_employment_survey[graduate_employment_survey['degree'].str.contains('Information Systems Management')]

# # Calculate the average values for each column
# average_values = rows_to_merge.mean()

# # Create a new DataFrame with the average values
# merged_row = pd.DataFrame(average_values).T

# # Append the merged row to the original DataFrame
# graduate_employment_survey = graduate_employment_survey.append(merged_row, ignore_index=True)

# # Drop the original rows that were merged
# graduate_employment_survey = graduate_employment_survey.drop(rows_to_merge.index)

# # Print the updated DataFrame
# print(graduate_employment_survey)


smu = graduate_employment_survey[graduate_employment_survey['university'].str.contains('Singapore Management University')]

rows = smu[smu.school.str.contains('School of Information Systems')]

average_values = rows.mean()

print(average_values)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [6]:
def text_analysis(dataset):
    print(f"First few rows of this dataset:\n{dataset.head()}")
    print(f"\n\nThe shape of this dataset is:\n{dataset.shape}")
    print(f"\n\nColumns of this dataset:\n{dataset.columns}")
    print("\n\nThe summary of this dataset is:")
    print(dataset.info())

### Text Analysis of Graduate Employment Survey

In [7]:
text_analysis(graduate_employment_survey)

# ges_describe_columns=["employment_rate_overall","basic_monthly_mean"]
# print(f"\n\nA descriptive summary of this dataset:\n{graduate_employment_survey[ges_describe_columns].describe()}\n\n")

First few rows of this dataset:
     year                        university  \
0  2013.0  Nanyang Technological University
1  2013.0  Nanyang Technological University
2  2013.0  Nanyang Technological University
3  2013.0  Nanyang Technological University
4  2013.0  Nanyang Technological University

                                          school  \
0  College of Business (Nanyang Business School)
1  College of Business (Nanyang Business School)
2  College of Business (Nanyang Business School)
3  College of Business (Nanyang Business School)
4                         College of Engineering

                                        degree employment_rate_overall  \
0                     Accountancy and Business                    97.4
1  Accountancy (3-yr direct Honours Programme)                    97.1
2     Business (3-yr direct Honours Programme)                    90.9
3                       Business and Computing                    87.5
4                        Aerospace Engineering                    95.3

  employment_rate_ft_perm basic_monthly_mean basic_monthly_median  \
0                    96.1               3701                 3200
1                    95.7               2850                 2700
2                    85.7               3053                 3000
3                    87.5               3557                 3400
4                    95.3               3494                 3500

  gross_monthly_mean gross_monthly_median gross_mthly_25_percentile  \
0               3727                 3350                      2900
1               2938                 2700                      2700
2               3214                 3000                      2700
3               3615                 3400                      3000
4               3536                 3500                      3100

  gross_mthly_75_percentile
0                      4000
1                      2900
2                      3500
3                      4100
4                      3816


The shape of this dataset is:
(1112, 12)


Columns of this dataset:
Index(['year', 'university', 'school', 'degree', 'employment_rate_overall',
       'employment_rate_ft_perm', 'basic_monthly_mean', 'basic_monthly_median',
       'gross_monthly_mean', 'gross_monthly_median',
       'gross_mthly_25_percentile', 'gross_mthly_75_percentile'],
      dtype='object')


The summary of this dataset is:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1112 entries, 0 to 1121
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       1112 non-null   float64
 1   university                 1111 non-null   object
 2   school                     1111 non-null   object
 3   degree                     1111 non-null   object
 4   employment_rate_overall    1111 non-null   object
 5   employment_rate_ft_perm    1111 non-null   object
 6   basic_monthly_mean         1112 non-null   object
 7   basic_monthly_median       1112 non-null   object
 8   gross_monthly_mean         1112 non-null   object
 9   gross_monthly_median       1112 non-null   object
 10  gross_mthly_25_percentile  1112 non-null   object
 11  gross_mthly_75_percentile  1112 non-null   object
dtypes: float64(1), object(11)
memory usage: 112.9+ KB
None

### Text Analysis of Consumer Price Index

In [8]:
text_analysis(consumer_price_index)

NameError: name 'consumer_price_index' is not defined

### Text Analysis of Live Births By Sex and Ethnic Group

In [ ]:
text_analysis(live_births)

### Text Analysis of Average IQ by Country 2023

#### Cleaning the dataset, removing unwanted columns like 'pop2023'

In [ ]:
average_iq = average_iq.drop(columns=['pop2023'])

In [ ]:
text_analysis(average_iq)

### Text Analysis of World Happiness Report

#### 2020

In [ ]:
text_analysis(world_happiness_2020)

#### 2021

In [ ]:
text_analysis(world_happiness_2021)

#### 2022

In [ ]:
text_analysis(world_happiness_2022)